<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
      <Configuration>

  <Exclude>
    [User]*.DTOs.*,   
    [User]*.Services.ServiceResult*,   
    [User]*.Data.Interfaces.HttpRequestCommon,   
    [*]Program
  </Exclude>
  <Include>
    [User]*.Services.*,
    [User]*.Controllers.*,
    [User]*.Repository.*,
    [User]*.Messaging.Consumer.*,
    [User]*.Interfaces.*,
    
    [User]*.Helper.*


  </Include>


</Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>