<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
      <Configuration>

  <Exclude>
  [Product]*.DTOs.*,   
  [*]Program
</Exclude>

<Include>
  [Product]*.Services.ProductService*,
  [Product]*.Controllers.*,
  [Product]*.Repository.*,
  [Product]*.Consumers.*
</Include>


</Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>